* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/* --------------------------------------------------- */
body {
    min-height: 100%;
    overflow-x: hidden;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
}

/* - Common -------------------------------------------------- */
.container {
    max-width: 1150px;
    /* padding: 0px 15px; */
    margin: 0px auto;
}

.container_short {
    max-width: 816px;
    /* padding: 0px 15px; */
    margin: 0px auto;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

    position: relative;
}

.title::before {
    content: "";
    background-image: url('/img/index1/paw-title.svg');

    width: 21px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;

    left: -28px;
}

.hero {
    height: 100%;
    background-repeat: no-repeat;
    background-position: top 0 left 0;
    background-size: 100%;
    padding-top: 158px;
    z-index: 0;
}

.hero--second::before {
    content: "";
    width: 100%;
    height: 263px;
    background-image: url(../img/header-2.svg);
    background-repeat: no-repeat;
    background-position: top 0 left 0;
    position: absolute;
    background-size: 100%;
    top: 0;
    left: 0;
    z-index: -5;
}

.swiper {
    width: 100%;

}

.news-slider .swiper-pagination-bullet {
    width: 10px;
    height: 29px;
    background-color: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.swiper-slide {
    padding-right: 18px;
    padding-bottom: 14px;
}

.swiper-control {
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
}

.swiper-pagination {
    position: static;
    transform: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    border: 6px solid #F96B0A;
    border-radius: 50%;
    color: #000000 !important;
    width: 34px;
    height: 34px;
    position: static;
    margin-top: 0px;
}

.swiper-button-next::after {
    font-size: 20px !important;

    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    content: "\f061" !important;
}

.swiper-button-prev::after {
    font-size: 20px !important;

    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    content: "\f060" !important;
}

.pagination-bullets {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

}

.partner-control {
    margin-top: 22px;
}

.partner-pag {
    margin-right: 11px;
    margin-left: 11px;
}

.pagination-bullets span+span {
    margin-right: 9px;
}

.page__slider_1 {
    margin-top: 52px;
}

.page__slider_2 {
    margin-top: 22px;
    margin-bottom: 67px;
}




/* --------------------------------------------------- */


.detail {
    display: flex;
    align-items: center;
    margin-top: 79px;
}

.detail__rectangle {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 167px;
    background: #f96b0a;
    border-radius: 0px 10px 10px 0px;
    margin-right: 40px;
    padding: 46px 36px 28px 168px;
}

.detail__rectangle::before {
    position: absolute;
    content: "";
    width: 162px;
    height: 153px;
    top: 4px;
    left: 0px;
    background-image: url(../img/partner/detail-paws.svg);
    background-repeat: no-repeat;
}

.detail__img {
    width: 187px;
    height: 150px;
}

.detail-title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    margin-bottom: 30px;
}

.detail-btn {
    position: relative;
    width: 96px;
    height: 23px;
    padding: 3px 10px;
    border-radius: 6px;
    background: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #f96b0a;
    cursor: pointer;
    align-self: end;
    margin-right: 34px;
}

.detail-btn::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    top: -6px;
    right: -35px;
    background-image: url(../img/partner/detail-paw.svg);
    background-repeat: no-repeat;
}