* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/* --------------------------------------------------- */
body {
    min-height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
}

/* --------------------------------------------------- */
.container {
    max-width: 1140px;
    /* padding: 0px 15px; */
    margin: 0px auto;
}

.container_short {
    max-width: 816px;
    /* padding: 0px 15px; */
    margin: 0px auto;
}

/* --------------------------------------------------- */

.footer {
    width: 100%;
    height: 400px;
    position: relative;
    /* background-image: url('../img/footer/rectangle.svg'), url('/img/footer/animals1.jpg');

    background-repeat: no-repeat no-repeat;
    background-position: left,
        right;
    background-size: 844px 400px, 611px 320px; */
}

.footer::before {
    content: "";
    position: absolute;
    background-image: url(../img/footer/rectangle-paws.svg);
    background-repeat: no-repeat;
    background-position: top 0px left 0px;
    background-size: contain;

    width: 60%;
    /* background-size: 60%; */
    height: 400px;
    z-index: -2;
}

.footer::after {
    content: "";
    position: absolute;
    background-image: url(../img/footer/animals1.jpg);
    background-repeat: no-repeat;
    background-position: top 0px right 0px;
    background-size: contain;
    height: 76%;
    z-index: -27;
    width: 41%;
    top: 80px;
    right: 0;
}

.footer__text {
    /* height: 400px;
    width: 844px; */
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 59px;
}


.footer__wrapper {
    /* display: flex; */
    width: 60%;
}

.footer__form {
    display: flex;
    margin-top: 31px;

}

.footer__form>input {
    justify-self: center;
    border-radius: 4px;
    height: 30px;
    width: 240px;
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__form>input:nth-child(2) {
    width: 172px;
}

.footer__form>input:not(:last-child) {
    margin-right: 8px;
}

.footer__form>input::placeholder {
    color: black
}

.footer__form>button {
    border: 1px solid #000000;
    height: 30px;
    width: 131px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #F96B0A;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

.footer__images {
    display: flex;
    flex-direction: row;
    margin-top: 62px;
    height: 100px;
}

.footer__logo {
    margin-right: 53px;
}

.footer__paws {
    /* width: 370px;
    margin-top: -100px; */
    width: 100%;
    height: 100%;
    /* padding-right: 10%; */
    /* height: 130px; */
    background: url('/img/footer/paws.svg');
    background-position: top 0px left 0px;
    background-repeat: no-repeat;
    /* background-size: 2%; */
    background-size: contain;
    background-size: 424px 130px;
}

.footer__paws>img {}



.footer__contacts {
    display: flex;
}

.footer__contacts>*:not(:last-child) {
    margin-right: 131px;
}

.footer__company-about {}

.footer__company-about-item {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    height: 30px;
    display: flex;
    align-items: center;
}

/* .footer__company-about-item:not(:last-child) {
    margin-bottom: 10px;
} */

.footer__contacts-data {
    display: flex;
    flex-direction: column;
}

.footer__contacts-social {
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
}

.footer__contacts-social-link {}

.footer__contacts-social-link:not(:last-child) {
    margin-right: 10px;
}

.footer__contacts-social-link>img {
    width: 30px;
    height: 30px;
}


.footer__contacts-mobile {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.footer__image {
    height: 320px;
    width: 611px;
    /* background-image: url('/img/footer/animals1.jpg'); */
}

/* - Index1 Лук Заводчик -------------------------------------------------- */

.page {}

.page__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 351px;
    margin-top: 45px;
}

.page__content-item {
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    min-width: 240px;
    min-height: 160px;
}

.page__content-item:first-child {
    height: 100%;
    width: 528px;
    margin-right: 48px;
}

.page__content-item:not(:first-child) {
    margin-bottom: 31px;
}

.page__content-item:last-child {
    margin-bottom: 0;
}

.page__breeder {
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
}

.page__breeder:last-child {
    width: 100%;
}

.page__breeder-description {
    margin-right: 42px;
}

.page__breeder-description-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.page__breeder-description-data {
    margin-top: 12px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.page__breeder-description-data:first-of-type {
    margin-top: 26px;
}


.page__breeder-description-social {
    margin-top: 19px;
}

.page__breeder-description-social-link {}

.page__breeder-description-social-link>img {
    /* background-color: #000000; */
}


.page__breeder-description-contacts {
    margin-top: 12px;
    margin-bottom: 2px;
}

.page__breeder-description-button {
    display: block;
    margin: 12px 0px;

    border-radius: 4px;
    background-color: #F96B0A;
    color: #FFFFFF;
    width: 160px;
    height: 32px;
    padding: 5px 12px;
    font-size: 18px;
}

.page__breeder-map {}

.page__breeder-full-description {
    margin-top: 29px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */


    color: #000000;
}